Options +FollowSymlinks

<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>

ExpiresActive On
ExpiresDefault "access plus 4 hours"
ExpiresByType application/javascript A900
ExpiresByType application/x-javascript A900
ExpiresByType text/javascript A900
ExpiresByType text/html A90
ExpiresByType text/xml A90
ExpiresByType text/css A900
ExpiresByType text/plain A62
ExpiresByType image/gif A14400
ExpiresByType image/jpg A14400
ExpiresByType image/jpeg A14400
ExpiresByType image/png A14400
ExpiresByType image/bmp A14400
ExpiresByType application/x-shockwave-flash A3600

Redirect 301 /programming-blog/tutorials/python/how-to-connect-to-mysql-with-python/ /tutorials/python-tutorials/how-to-connect-to-mysql-with-python/
Redirect 301 /programming-blog/microsoft/how-microsoft-azure-is-going-to-change-web-hosting-as-we-know-it/ http://www.jeremymorgan.com/blog/programming/what-is-microsoft-azure/
Redirect 301 /programming-blog/microsoft/what-is-microsoft-azure/ /blog/programming/what-is-microsoft-azure/