<section>
<br /> 
<h1 style="text-align:center; margin: auto;">$5 Linux Hosting</h1>
<a href="https://www.digitalocean.com/?refcode=ca6f81fa42b4"><img src="/images/linux.jpg" /></a>
<h1 style="text-align:center; margin: auto;"><a href="https://www.digitalocean.com/?refcode=ca6f81fa42b4">Click Here For Info</a></h1>

<br />
<br />
<br />
<h2>Friends</h2>
<ul>
	<li><a href="http://www.network-node.com/blog">Network Node</a></li>
	<li><a href="http://dannynunez.com/">Danny Nunez</a></li>
	<li><a href="http://steven-senkus.com/">Steven Senkus</a></li>
	<li><a href="http://chriswhitney.com/">Chris Whitney</a></li>
	<li><a href="http://johnatten.com/">John Atten</a></li>
	<li><a href="http://compositecode.com">Composite Code</a></li>
	<li><a href="http://notla.com">Brad Carter</a></li>
	<li><a href="http://scottbones.com">Scott Bones</a></li>
	<li><a href="http://workingwebsolutions.com">Working Web Solutions</a></li>
	<li><a href="https://dotnetkicks.com/">Dot Net Kicks</a></li>	
</ul>
<br />
<br />
<a href="//pluralsight.pxf.io/c/1221983/431391/7490"><img src="//a.impactradius-go.com/display-ad/7490-431391" border="0" alt="" width="200" height="200"/></a><img height="0" width="0" src="//pluralsight.pxf.io/i/1221983/431391/7490" style="position:absolute;visibility:hidden;" border="0" />
<br />
<br />
</section>
