<section>
  <h2>About Jeremy Morgan</h2>
  <div class="aboutmeimage">&nbsp;</div>
  <p>I'm just a Silicon Forest Hacker / Developer writing about Tech, Programming, SEO and Marketing. Jack of all trades master of none.</p>
  <ul>
  <li><a href="https://plus.google.com/+JeremyMorgan?rel=author">{% img https://www.jeremymorgan.com/images/baseimages/gplus.jpg Jeremy Morgan on Google Plus %} &nbsp;&nbsp;Connect With Me on Google+</a></li>
  <li><a href="http://twitter.com/JeremyCMorgan" rel="nofollow">{% img https://www.jeremymorgan.com/images/baseimages/twitter.jpg Jeremy Morgan on Twitter %} &nbsp;&nbsp; Connect With Me on Twitter</a></li>
  <li><a href="http://facebook.com/JeremyMorganDotCom" rel="nofollow">{% img https://www.jeremymorgan.com/images/baseimages/facebook.jpg Jeremy Morgan on FaceBook %} &nbsp;&nbsp; Connect With Me on FaceBook</a></li>
  <li><a href="https://github.com/jeremymorgan" rel="nofollow">{% img https://www.jeremymorgan.com/images/baseimages/github.jpg Jeremy Morgan on Github %} &nbsp;&nbsp; Connect With Me on GitHub</a></li>
  </ul>
 </section>
