<section>
<br />
<br />
<h2>My Hosted Applications</h2>
<ul>
	<li><a href="/apps/oregon-deq-boundary/">Oregon DEQ Boundaries</a></li>
	<li><a href="/apps/findjennifer/">Find Jennifer Huston</a></li>
	<li><a href="/apps/36-pit-fire-realtime/">36 Pit Fire Realtime</a></li>
	<li><a href="/apps/deception-complex-fire/">Deception Complex Realtime</a></li>	
	<li><a href="/apps/rowena-fire-realtime/">Rowena Fire Realtime</a></li>
	<li><a href="/apps/bryant-fire-realtime/">Bryant Fire Realtime</a></li>
	<li><a href="/apps/owens-fire-realtime/">Owens Fire Realtime</a></li>
	<li><a href="/apps/shaniko-butte-realtime/">Shaniko Butte Realtime</a></li>
	<li><a href="/apps/two-bulls-realtime/">Two Bulls Realtime</a></li>
	<li><a href="/seo-tools/blog-ping/">Blog Pinger</a></li>
	<li><a href="/seo-tools/server-header-checker/">Server Header Checker</a></li>
	<li><a href="/portland-tech-meetups/">Portland Tech Meetups</a></li>
	<li><a href="/apps/firecom/feed.php">FireCom</a></li>
</ul>
<br />
<br /> 
<h1 style="text-align:center; margin: auto;">$5 Linux Hosting</h1>
<a href="https://www.digitalocean.com/?refcode=ca6f81fa42b4"><img src="/images/linux.jpg" /></a>
<h1 style="text-align:center; margin: auto;"><a href="https://www.digitalocean.com/?refcode=ca6f81fa42b4">Click Here For Info</a></h1>

<br />
<br />
<br />
<h2>Friends</h2>
<ul>
	<li><a href="http://imageevent.com/irishglyn">Irish Glyn Rat Terriers</a></li>
	<li><a href="http://cykovisuals.com">Cyko Visuals</a></li>
	<li><a href="http://dannynunez.com/">Danny Nunez</a></li>
	<li><a href="http://steven-senkus.com/">Steven Senkus</a></li>
	<li><a href="http://compositecode.com">Composite Code</a></li>
	<li><a href="http://vichargrave.com/">Vic Hargrave</a></li>
	<li><a href="http://notla.com">Brad Carter</a></li>
	<li><a href="http://scottbones.com">Scott Bones</a></li>
	<li><a href="http://thomashubbard.net">Thomas Hubbard</a></li>
	<li><a href="http://theservicedeptrepair.com">Wilsonville Computer Repair</a></li>
	<li><a href="http://vichargrave.com/">Vic Hargrave</a></li>
	<li><a href="https://dotnetkicks.com/">Dot Net Kicks</a></li>	
</ul>
<br />
<br />
</section>