<section>
 <br />
  <h2>Social Coding</h2>
	<a href="http://coderwall.com/jeremymorgan"> {% img http://api.coderwall.com/jeremymorgan/endorsecount.png %}</a>
	<a href="http://stackoverflow.com/users/201724/jeremy-morgan"><img src="http://stackoverflow.com/users/flair/201724.png" width="208" height="58" alt="profile for {{ site.stackoverflow_user_name }} at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for {{ site.stackoverflow_user_name }} at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
</section>
  